<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-right">
      <%= link_to 'Product View', index_path, class: 'btn btn-default navbar-btn add-product' %>
      <%= link_to new_category_path, class: 'btn btn-success navbar-btn add-product' do %>
        <i class="glyphicon glyphicon-plus"></i>
        <span>New Category</span>
      <% end %>
    </div>
  </div>
</nav>

<form action="visitors/contact" method="post">
  <label for="name">Name: </label><br>
  <input type="text" name="name" placeholder="Name"><br>
  <label for="email">Email: </label><br>
  <input type="text" name="email" placeholder="Email"><br>
  <label for="message">Message: </label><br>
  <textarea name="message" placeholder="Your message"></textarea><br>
  <input type="submit" value="Submit">
</form>
<br><br>
<p>Thanks for your opinion. Please check your email for response.</p>
<p>From Support Team.</p>