<html>
   <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
     <h1><%= @user.name %> (<%= @user.email %>)</h1>
     <p>
       Hi, Welcome to Rails Online Shop!
     </p>
   </body>
 </html>
