.container
  %h1 Listing products
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Price
        %th Description
    %tbody
      - @products.each do |product|
        %tr
          %td= link_to product.name, product_path(product)
          %td= number_to_currency(product.price)
          %td= product.description


